/* Color and Fonts */
body {
    color: #ccc;
    background: #1a1a1a;
    font-family: 'Open Sans', sans-serif;
}

a.navbar-item, a.navbar-item:hover {
    color: #1a1a1a;
}

h1, h2 {
    color: #ffeeaa;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Ubuntu Condensed', sans-serif; */
}

h3 {
    color: #ccc;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Ubuntu Condensed', sans-serif; */
}

.table {
    color: #ccc;
    background-color: #ffffff11;
}

.table thead th{
    color: #ccc;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.table tbody td {
    color: #ccc;
}

.table.is-striped tbody tr:not(.is-selected):nth-child(2n) {
    background-color: #00000044;
}

a, .table a {
    /* color: #e8e0c1; */
    color: #ccc;
}

a:hover, .table a:hover {
    /* color: #ebe2be; */
    color: #ffeeaa;
}

.table tbody td, .table thead th{
    border-top-color: #ffffff33;
    border-bottom-color: #ffffff33;
}

.background-light-pink {
    background: #ffd5e5;
}

#top-section {
}

#top-header > .column:first-child {
    border-bottom-color: #ffffff33; 
}

nav#top-navigation {
    background-color: #ffffff11;
}

nav#top-navigation .navbar-item {
    color: #ffb0cf;
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color: transparent;
    background-repeat: no-repeat;
    /* background-size: 54px; */
    background-size: 30px;
    background-position: center 10px;
}

nav#top-navigation .navbar-menu {
    background-color: transparent;
}

nav#top-navigation .navbar-item:hover {
    color: #ffd5e5;
}

#featured-section {
    margin-top: 1px;
}

#featured > .featured-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

a.icon-ai, a.icon-robot, a.icon-data, a.icon-iot {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center left;

}

a.icon-ai {
    background-image: url('../images/spesialisasi-ai.png');
}

a.icon-robot {
    background-image: url('../images/spesialisasi-robotika-otomasi.png');
}

a.icon-data {
    background-image: url('../images/spesialisasi-data-science.png');
}

a.icon-iot {
    background-image: url('../images/spesialisasi-iot-bigdata.png');
}

nav#top-navigation .navbar-item#top-nav-item-ai {
    background-image: url('../images/spesialisasi-ai.png');
}

nav#top-navigation .navbar-item#top-nav-item-robot {
    background-image: url('../images/spesialisasi-robotika-otomasi.png');
}

nav#top-navigation .navbar-item#top-nav-item-data {
    background-image: url('../images/spesialisasi-data-science.png');
}

nav#top-navigation .navbar-item#top-nav-item-iot {
    background-image: url('../images/spesialisasi-iot-bigdata.png');
}

#main-navigation-section {
}

nav#main-navigation, .navbar-dropdown {
    background: #ffeeaa;
}


nav#main-navigation .navbar-item {
    font-family: 'Ubuntu Condensed', sans-serif;
}

nav#main-navigation .navbar-item:hover {
    background-color: #ffffcc;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #1a1a1a;
}

.navbar-item.has-dropdown .navbar-link,
.navbar-item.has-dropdown:hover .navbar-link {
    background-color: transparent;
    color: #1a1a1a;
}



#content-section {
}

div#featured > div.column > section {
    background-color: #222222;
}

#footer.footer {
    background-color: transparent;
}


/* Layout */

html {
    min-width: 100px;
    height: 100%;
}

body {
    min-height: 100%;
}

h1, h2, h3 {
    padding-bottom: 0.3em;
    line-height: 1.25em;
    margin-bottom: 0.75em;
}

h1 {
    font-size: 2em;
    /* text-transform: uppercase; */
    border-bottom: 1px solid #333333;
}

h2 {
    font-size: 1.75em;
    /* text-transform: uppercase; */
    border-bottom: 1px solid #333333;
}

h3 {
    /* text-transform: uppercase; */
}

ul {
    margin-bottom: 2em;
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 1em;
}

li > ul {
    margin-bottom: 0em;
}

ul li {
     
}

p {
    margin-bottom: 1em;
}

p {
    margin-bottom: 1em;
}
p:last-child {
    margin-bottom: 0em;
}

a.icon-ai, a.icon-robot, a.icon-data, a.icon-iot {
    padding-left: 1.5em;
}

.upcoming {
    color: #333;
}

.section {
    padding-top: 2rem;
}

table {
    width: 100%;
}

table thead th {
    text-transform: uppercase;
}

/* Class and IDs */

#top-section {
    padding: 0em;
}

#top-header .column {
    text-align: center;
}

#top-navigation .navbar-menu {
    display: inherit;
}

#logo {
    max-height: 60px; 
    margin-top: 0.5em;
}

#top-header > .column {
    padding: 0em 0em;
}

nav#top-navigation {
}

nav#top-navigation .navbar-menu {
    text-align: center; 
    padding: 0em 0em;
}

nav#top-navigation .navbar-menu #text {
    display: none;
}

nav#top-navigation .navbar-item {
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
    /* font-size: 0.75em; */
    font-size: 0.6em;
    padding: 40px 5px 20px 5px;
    /* min-width: 80px; */
    min-width: 75px;
    /* display: block; */
    display: inline-block;
    /* margin-left: 2em; */
    border-left: 2px solid #1a1a1a;
}

nav#top-navigation .navbar-item:last-child {
    border-right: 2px solid #1a1a1a;
}

#main-navigation-section {
    padding: 0.75em 0em;
}

div#main-navigation-parent-column {
    padding-bottom: 0em;
    padding-top: 0em;
}

nav#main-navigation {
    min-height: 48px;
    height: 48px;
}

nav#main-navigation .navbar-brand {
}

nav#main-navigation .navbar-menu {
}

nav#main-navigation .navbar-start {
}

nav#main-navigation .navbar-item {
    justify-content: center;
    border-right: 1px solid #1a1a1a;
    text-transform: uppercase;
    min-width: 140px;
}

nav#main-navigation .navbar-dropdown > .navbar-item {
    justify-content: left;
    border-right: none;
}

#featured-section {
    padding: 0px;
}

div#featured {
}

div#featured > .featured-image {
    width: 100%;
    padding-top: 60%;
}


#content-section {
}

div#main-content {
    min-height: 300px;
}

@media only screen
and (min-device-width: 769px) {
    #top-section {
        padding: 2em;
    }

    #top-header .column {
        text-align: left;
    }

    #top-header > .column {
        padding: 0em 0.75rem;
    }

    #logo {
        max-height: 70px; 
    }
    
    nav#top-navigation {
        background-color: transparent;
    }

    nav#top-navigation .navbar-end {
        text-align: right;
    }

    nav#top-navigation .navbar-item {
        background-color: #ffffff11;
        background-size: 40px;

        font-size: 0.75em;
        padding: 50px 5px 10px 5px;
        min-width: 80px;
        display: inline-block;
        border-left: 2px solid #1a1a1a;
    }

    div#featured > .featured-image {
        height: 300px;
        padding-top: 0%;
    }
}

@media only screen
and (min-device-width: 1024px) {
    div#featured > .featured-image {
        height: 460px;
        padding-top: 0%;
    }
}
