{{ define "main" }}

        <section class="section" id="featured-section">
            <div class="container is-widescreen">
                <div class="columns">
                    <div class="column" id="featured">
                        <div class="featured-image" style="background-image: url('/images/splash/enjoy-mecha-tv.png');">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section" id="content-section">
            <div class="container">
                <div class="columns" id="main-content">
                    <div class="column">
                        <h2>Jurnal Terkait</h2>
                        <div class="columns">
                            <div class="column">
                                <table class="table is-narrow is-striped">
                                  <thead>
                                    <tr>
                                      <th>Nama Jurnal</th>
                                      <th>SJR</th>
                                      <th>H Index</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td><a class="icon-ai" target="_blank" href="http://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=34">IEEE Transactions on Pattern Analysis and Machine Intelligence</a></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td><a class="icon-ai" target="_blank" href="https://link.springer.com/journal/11263">International Journal of Computer Vision</a></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td><a class="icon-ai" target="_blank" href="http://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=91">IEEE Transactions on Fuzzy Systems</a></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td><a class="icon-robot" target="_blank" href="http://journals.sagepub.com/home/ijra">International Journal of Robotics Research</a></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td><a class="icon-ai" target="_blank" href="http://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=5962385">IEEE Transactions on Neural Networks and Learning Systems</a></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td><a class="icon-ai" target="_blank" href="https://www.nowpublishers.com/MAL">Foundations and Trends in Machine Learning</a></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td><a class="icon-robot" target="_blank" href="https://link.springer.com/journal/10514">Autonomous Robots</a></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td><a class="icon-ai" target="_blank" href="https://www.journals.elsevier.com/artificial-intelligence/">Artificial Intelligence</a></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <div class="column">
                                <table class="table is-narrow is-striped">
                                  <thead>
                                    <tr>
                                      <th>Nama Jurnal</th>
                                      <th>SJR</th>
                                      <th>H Index</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td><a class="icon-ai" target="_blank" href="https://www.journals.elsevier.com/pattern-recognition/">Pattern Recognition</a></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td><a class="icon-data" target="_blank" href="https://link.springer.com/journal/11067">Networks and Spatial Economics</a></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td><a class="icon-ai" target="_blank" href="http://www.jair.org/contents.html">Journal of Artificial Intelligence Research</a></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td><a class="icon-ai" target="_blank" href="https://link.springer.com/journal/volumesAndIssues/10700">Fuzzy Optimization and Decision Making</a></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td><a class="icon-data" target="_blank" href="http://www.jmlr.org/papers/v18/">Journal of Machine Learning Research</a></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td><a class="icon-ai" target="_blank" href="https://www.sciencedirect.com/journal/expert-systems-with-applications/issues">Expert Systems with Applications</a></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td><a class="icon-iot" target="_blank" href="https://link.springer.com/journal/10845">Journal of Intelligent Manufacturing</a></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td><a class="icon-ai" target="_blank" href="Journal of Intelligent Manufacturing">International Journal of Intelligent Systems</a></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column">
                              <h2>Focus On Social Impact</h2>
                              <article class="message background-light-pink">
                                <div class="message-body">
                                  <p class="has-text-justified">Mecha.id menerapkan konsep <i>"Learning by doing social-impact projects"</i>, dimana dalam setiap project mahasiswa akan mendalami beragam materi terkait <i>(technology tree)</i>. Mecha TV menangkap berbagai permasalahan, serta meliput riset-riset yang memberikan dampak besar secara sosial sebagai bagian dari pengajaran.</p>
                                  <p class="has-text-justified"><i>Core</i> dari Mecha.id adalah pengabdian sosial, setiap proyek dan tugas dosen maupun mahasiswa dituntut memberikan output yang dapat
                                  diakses dan dipergunakan secara
                                  gratis dan <i>open source</i>.</p>
                                  <p class="has-text-justified">Beragam instansi teknologi tinggi seperti Google, Tesla, NASA, CMU, dsb. digunakan sebagai acuan kompetensi dosen dan mahasiswa. Beragam permasalahan di Indonesia seperti mahalnya teknologi, produksi barang dan jasa, transportasi, lingkungan, kemiskinan, dsb. dijadikan topik utama project.</p>

                                </div>
                              </article>
                            </div>
                        </div>

                        <div class="columns">
                          <div class="column">
                              <h2>Materi Eksternal</h2>
                              <div class="columns">
                                <div class="column">
                                  <h3>Matematika Untuk Sains Komputer</h3>
                                  <ul class="is-3">
                                      <li><a href="http://calculusmadeeasy.org" target="_blank">Calculus Made Easy - Silvanus P. Thomson</a></li>
                                      <li><a href="https://courses.edx.org/courses/course-v1:Microsoft+DAT256x+3T2018/course/" target="_blank">Coursera - Essential Math for Machine Learning: Python Edition</a></li>
                                      <li><a href="https://towardsdatascience.com/the-mathematics-of-machine-learning-894f046c568" target="_blank">TDS - The Mathematics of Machine Learning</a></li>
                                      <li><a href="https://stanford.edu/~shervine/teaching/cme-106.html" target="_blank">CME 106 - Introduction to Probability and Statistics for Engineers</a></li>
                                      <li><a href="https://stanford.edu/~shervine/teaching/cme-102.html" target="_blank">CME 102 - Ordinary Differential Equations for Engineers</a></li>
                                  </ul>
                                  <h3>Sains Data Dan Analisis Data</h3>
                                  <ul>
                                      <li><a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-0002-introduction-to-computational-thinking-and-data-science-fall-2016/lecture-videos/" target="_blank">MIT - Introduction to Computational Thinking and Data Science</a></li>
                                  </ul>
                                  <h3>Pembelajaran Mesin</h3>
                                  <ul>
                                      <li><a href="http://themlbook.com/wiki/doku.php" target="_blank">Andriy Burkov - The Hundred-Page Machine Learning Book</a></li>
                                      <li><a href="https://www.cs.cmu.edu/~tom/10701_sp11/" target="_blank">CMU - Machine learning (2011)</a></li>
                                      <li><a href="http://web.stanford.edu/~hastie/ElemStatLearn/" target="_blank">Stanford - The Elements of Statistical Learning</a></li>
                                      <li><a href="https://stanford.edu/~shervine/teaching/cs-229.html" target="_blank">Stanford - CS 229 Machine Learning (2018)</a></li>
                                      <li><a href="https://developers.google.com/machine-learning/crash-course/" target="_blank">Google Developers - Machine Learning Crash Course</a></li>
                                  </ul>

                                  <h3>Pemrosesan Bahasa Alami</h3>
                                  <ul>
                                      <li><a href="http://cs224d.stanford.edu/syllabus.html" target="_blank">Stanford - Deep Learning for Natural Language Processing</a></li>
                                  </ul>
                                  <h3>Sistem Operasi</h3>
                                  <ul>
                                      <li><a href="https://dwheeler.com/autotools/" target="_blank">Introduction to the Autotools (autoconf, automake, and libtool)</a></li>
                                  </ul>
                                </div>

                                <div class="column">
                                  <h3>Deep Learning Umum</h3>
                                  <ul>
                                      <li><a href="https://www.deeplearningbook.org" target="_blank">MIT Press - Introduction to Deep Learning - Goodfellow, Bengio, Courville</a></li>
                                      <li><a href="http://introtodeeplearning.com" target="_blank">MIT - Introduction to Deep Learning</a></li>
                                      <li><a href="https://stanford.edu/~shervine/teaching/cs-230.html" target="_blank">Stanford - CS 230 Deep Learning (2018)</a></li>
                                      <li><a href="https://github.com/terryum/awesome-deep-learning-papers" target="_blank">Awesome Deep Learning Papers</a></li>
                                      <li><a href="https://github.com/kmario23/deep-learning-drizzle" target="_blank">Deep Learning Drizzle</a></li>
                                      <li><a href="http://deeplearning.cs.cmu.edu/" target="_blank">CMU - Deep Learning Course</a></li>

                                  </ul>
                                  <h3>Implementasi A.I.</h3>
                                  <ul>
                                      <li><a href="https://selfdrivingcars.mit.edu/" target="_blank">MIT - Deep Learning for Self-Driving Cars</a></li>
                                  </ul>
                                  <h3>Convolutional Neural Network</h3>
                                  <ul>
                                      <li><a href="http://cs231n.stanford.edu" target="_blank">Stanford - CS231n: Convolutional Neural Networks for Visual Recognition</a></li>
                                      <li><a href="https://www.coursera.org/learn/convolutional-neural-networks" target="_blank">Coursera - Convolutional Neural Networks</a></li>
                                  </ul>
                                  <h3>Speech Recognition</h3>
                                  <h3>Bahasa Pemrograman</h3>
                                  <ul>
                                      <li><a href="https://www.learncpp.com/">.cpp : LearnCpp.com</a></li>
                                      <li><a href="https://docs.python.org/3.7/library/index.html" target="_blank">.py : The Python Standard Library</a></li>
                                      <li><a href="https://gobyexample.com/" target="_blank">.go : Go by example</a></li>
                                      <li><a href="https://hackernoon.com/a-map-to-modern-javascript-development-2017-16d9eb86309c" target="_blank">.js : A Map To Modern JavaScript Development</a></li>
                                  </ul>
                                </div>

                                <div class="column">
                                  <h3>Reinforcement Learning</h3>
                                  <h3>Recurrent Neural Network</h3>
                                  <ul>
                                      <li><a href="https://www.coursera.org/learn/nlp-sequence-models" target="_blank">Coursera - Sequence Models</a></li>
                                  </ul>
                                  <h3>Generative Adversarial Networks</h3>
                                  <h3>Computer Vision &amp; Video Analytics</h3>
                                  <ul>
                                      <li><a href="https://www.youtube.com/playlist?list=PLf7L7Kg8_FNxHATtLwDceyh72QQL9pvpQ" target="_blank">Stanford - Computer Vision</a></li>
                                  </ul>
                                  <h3>Interaksi Manusia-Komputer</h3>
                                  <h3>Robotika</h3>
                                  <ul>
                                      <li><a href="https://ocw.mit.edu/courses/aeronautics-and-astronautics/16-412j-cognitive-robotics-spring-2016/lecture-notes/" target="_blank">MIT - Cognitive Robotics</a></li>
                                      <li><a href="https://ocw.mit.edu/courses/mechanical-engineering/2-017j-design-of-electromechanical-robotic-systems-fall-2009/lecture-notes/" target="_blank">MIT - Design of Electromechanical Robotic Systems</a></li>
                                      <li><a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-832-underactuated-robotics-spring-2009/video-lectures/" target="_blank">MIT - Underactuated Robotics</a></li>
                                  </ul>

                                </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{{ end }}
