<section  id="top-section" class="section">
    <div class="container is-widescreen">
        <div class="columns" id="top-header">
            <div class="column">
                <div class="columns">
                    <div class="column">
                        <a href="/"><img id="logo" src="/images/logo.png" alt="mecha.id - Kampus Zero Dropout" /></a>
                    </div>
                </div>
            </div>
            <div class="column">
                <nav class="navbar" id="top-navigation">
                    <div class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item" id="top-nav-item-ai" href="{{ ref . "/about/bidang-keahlian/kecerdasan-buatan" }}">Kecerdasan<br>Buatan
                            </a><a class="navbar-item" id="top-nav-item-robot" href="{{ ref . "/about/bidang-keahlian/robotika-dan-otomasi" }}"> Robotika &amp;<br>Otomasi
                            </a><a class="navbar-item" id="top-nav-item-data" href="{{ ref . "/about/bidang-keahlian/data-science" }}"> Data<br>Science
                            </a><a class="navbar-item" id="top-nav-item-iot" href="{{ ref . "/about/bidang-keahlian/iot-dan-big-data" }}"> IOT &amp;<br>Big Data</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>

<section id="main-navigation-section" class="section">
    <div class="container is-widescreen">
        <div class="columns">
            <div class="column" id="main-navigation-parent-column">
                <nav class="navbar" role="navigation" aria-label="main-navigation" id="main-navigation">
                    <div class="navbar-brand">
                        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                          <span aria-hidden="true"></span>
                          <span aria-hidden="true"></span>
                          <span aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-start">
                            <!-- <a class="navbar-item" href="/">Home</a> -->
                            <a class="navbar-item" href="/courses/">Open Learning</a>
                            <a class="navbar-item" href="/research/">Riset</a>
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link" href="/about/kontribusi/">Kontribusi</a>
                                <div class="navbar-dropdown">
                                    <a class="navbar-item" href="{{ ref . "/about/kontribusi/source-code" }}">FOSS: Source Code</a>
                                    <a class="navbar-item" href="{{ ref . "/about/kontribusi/dataset" }}">FOSS: Dataset</a>
                                    <a class="navbar-item" href="{{ ref . "/about/kontribusi/buku" }}">FOSS: Buku</a>
                                    <a class="navbar-item" href="{{ ref . "/about/kontribusi/vector-packs" }}">FOSS: Icon Pack</a>
                                    <a class="navbar-item" href="{{ ref . "/about/kontribusi/musik" }}">FOSS: Musik</a>
                                    <a class="navbar-item" href="{{ ref . "/about/kontribusi/layanan" }}">FREE: Layanan</a>
                                </div>
                            </div>
                            <a class="navbar-item" href="https://times.mecha.id">Berita</a>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
